@page
@model CreateModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <div align ="center">
        <h2 >Запис</h2>
        <form method="post">
            <div>
                <label>Номер телефону</label><br />
                <input asp-for="NewRecord.ClientInfo.PhoneNumber" type="tel" id="phoneNumberInput" onchange="validatePhoneNumber(this.value);"  required /><br />
                
                <label>Ім'я</label><br />
                <input asp-for="NewRecord.ClientInfo.Name" type="text" id="nameInput" onchange="validateFields();" required />
            </div>
            <script>
                function validatePhoneNumber(phoneNumber)
                {
                    var regex = /^\+38[0-9]{10}$/;

                    if (!regex.test(phoneNumber)) 
                    {
                        alert('Некорректный формат номера телефона Украины! Пожалуйста, введите номер в формате +38XXXXXXXXXX');
                        document.getElementById('phoneNumberInput').value = '+38';
                    }

                    return regex.test(phoneNumber);
                }
                function validateFields() 
                {
                    var phoneNumber = document.getElementById('phoneNumberInput').value;
                    var name = document.getElementById('nameInput').value;


                    if (validatePhoneNumber(phoneNumber) && name.trim() !== '') {
                       
                        document.getElementById('servicesBlock').removeAttribute('hidden');
                    }
                    else if (name.trim() === '') {
                        alert('Пожалуйста, введите имя');
                    }
                }

            </script>
            <div id="servicesBlock" hidden>
                <div >
                    <label class="control-label">Послуги</label><br />
                    <select asp-items="Model.ServiceSelectList" class="form-control" onchange="SelectService(this); $('#dateBlock').attr('hidden',false)" id="ServicesToChoose" multiple></select><br />

                    <label class="control-label">Обрані послуги</label><br />
                    <select asp-for="NewRecord.ServicesRequested" asp-items="Model.ChoosenServices" class="form-control" onchange="if(UnselectService(this) == true) {$('#dateBlock').attr('hidden',true); $('#timeBlock').attr('hidden',true); $('#submitButton').attr('hidden',true);}" id="ChoosenServices"><option style="display:none"></option></select>
                </div>
            </div>
            <div id = "dateBlock" hidden>
                <label>Дата</label><br />
                <input asp-for="DateSelected" id="txtSelectedDate" onchange="$('#timeBlock').attr('hidden',false)" onclick="sendData();" />
                <script>
                    $(function () {
                        $('#txtSelectedDate').datepicker({
                            changeMonth: true,
                            changeYear: false,
                            format: "dd/mm/yyyy",
                            language: "tr",
                            daysOfWeekDisabled: [0, 6],
                            startDate: "now",
                            endDate: "+1m"
                        });
                    });
                </script>
                <script>
                    function sendData() {
                        $.ajax({
                            type: "GET",
                            url: "/api/Records/disabledDates",
                            headers: {
                                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (result) {
                                $('#txtSelectedDate').datepicker('setDatesDisabled', result);
                            },
                            error: function () {
                                alert("there was an error");
                            }
                        })
                    }
                </script>
            </div>
            <div id="timeBlock" hidden>
                <label>Час</label><br />
                <select asp-for="TimeSelected" id="txtSelectedTime" asp-items="Model.AvailableTimeRanges" onchange="$('#submitButton').attr('hidden',false)" />
            </div>
                <input type="submit" value="Підтвердити" id="submitButton" hidden />

            @if (!string.IsNullOrEmpty(Model.NewRecord?.ClientInfo?.PhoneNumber))
            {
                <script>
                    document.getElementById('servicesBlock').removeAttribute('hidden');
                </script>
            }
        </form>
    </div>
    </body>
</html>

