@page
@model OnlineClientRegistration.Pages.Testing.LoginModel
@{
}

<div align ="center">
    
    <h2>Login</h2>
        <form method="post">
            <div>
                <label>Номер телефону</label><br />
                <input asp-for="PhoneNumber" type="tel" id="phoneNumberInput" required /><br />
            </div>
        </form>>
</div>


