@page
@model OnlineClientRegistration.Pages.Testing.LoginModel
@{
}

<div align ="center">
    
    <h2>Login</h2>
        <form method="post">
        <div>
            <label>Номер телефону</label><br />
            <input type="tel" id="phoneNumber" name="phoneNumber" onchange="onPhoneNumberChanged(this.value);" required /><br />
            <label>Ім'я</label><br />
            <input type="text" id="name" name="name" onchange="validateClientFields(this);" required  readonly ="readonly" /><br />
        </div>
       
        <input type="submit" value="Підтвердити" id="submitButtonLogin" hidden/>
        </form>
</div>


