@page
@model OnlineClientRegistration.Pages.Testing.OopsModel
@{
}

<div class="text-center">
    <img class="mainImage" src="~/Images/17079483277140s.jpg" />
    <br />
    <h1 style="display: inline-block; vertical-align: middle;">вихід там </h1>
    <img src="~/Images/strelka.png" style="display: inline-block; vertical-align: middle; width: 1em; height: 1em;" />
</div>

<style>
    .mainImage {
        width: 100%;
        max-height: 70vh;
    }
</style>