@page
@model OnlineClientRegistration.Pages.Testing.PrintModel
@{
}

<h2>Список записей</h2>
<p><a href="/Create">Добавить запись</a></p>
<table class = "table">
    <tr><th>Дата та час</th><th>Послуги</th><th>Номер телефону</th></tr>
    @foreach (var record in Model.Records)
    {
        <tr>
            <td >@record.DateAndTime</td>
            <td>
               @foreach(var service in record.ServicesRequested)
                {
                    @service.Name
                    if (service != record.ServicesRequested.Last())
                    {
                        @:/
                    }
                }
            </td>
            <td>@record.ClientInfo?.PhoneNumber</td>
        </tr>
    }
</table>
